<div layout="column" ng-cloak id="mainController" class="mainController">
  <mat-toolbar color="primary" class="myHeader"> 
      <span>עמוד חיפוש תלמידים - מאת קובי קרסנוב</span>
      
  </mat-toolbar>
<div>
<div style="text-align:center;padding-top: 1.0em;">
  <form [formGroup]='usersForm'>
    <mat-form-field>
      <input matInput formControlName="txtSearch" [matAutocomplete]="auto" placeholder="חפש תלמידים כאן" (keypress)="inputClick()">
      
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectedUser()">
        <mat-option *ngFor="let user of filteredOptions" [value]="user">
            {{user.FirstName}} {{user.LastName}}
        </mat-option>
    </mat-autocomplete>
    &nbsp;
    <button mat-raised-button color="primary" (click)="itemClicked()" [disabled]="(selectedUser == null)">בחר!</button>
  </form>
</div>

